.button {
    appearance: none;
    background-color: rgb(var(--color-primary));
    border: 0;
    border-radius: var(--border-radius-large);
    color: var(--color-black);
    cursor: pointer;
    font-family: Luna;
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-semiBold);
    min-height: 50px;
    padding: var(--spacing-small);
    width: 100%;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.75;
    }
}

.soldOutButton {
    cursor: not-allowed;
}