.button {
    background-color: rgb(var(--color-primary));
    appearance: none;
    border: 0;
    border-radius: var(--border-radius-large);
    width: 100%;
    padding: var(--spacing-small);
    font-weight: var(--font-weight-semiBold);
    font-size: var(--font-size-h2);
    font-family: Luna;
}

.soldOutButton {
    cursor: not-allowed;
}