.hero {
    display: grid;
    gap: var(--spacing-xxlarge);
    align-items: center;
    // margin-bottom: 200px; // prevents being dead center

    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1280px) {
        gap: calc(var(--spacing-xxlarge) * 5);
        grid-template-columns: 1fr 1fr;
    }
}

.heading {
    color: var(--color-white);
    margin-top: var(--spacing-xxsmall);
}

.subHeading {
    color: var(--color-white);
    text-transform: uppercase;
    margin-top: 0;
}

.description {
    color: var(--color-white);
    line-height: 1.6;
}

.expander {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: var(--color-white);
    cursor: pointer;
    display: block;
    font-weight: var(--font-weight-bold);
    margin-top: var(--spacing-large);
}