.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100vw;
}

.hero {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 850px;
    flex-grow: 1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
        background: linear-gradient(to bottom, rgba(var(--color-black),1) 10%, rgba(var(--color-black),0.75) 65%, rgba(var(--color-black),0) 100%);
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    @media screen and (min-width: 1024px) {
        justify-content: center;
    }
}

.erc1155Hero {
    height: 100vh;
    max-height: 1200px;
    min-height: 750px;
}

.heroGrid {
    align-items: center;
    display: grid;
    gap: var(--spacing-xxlarge);
    position: relative;

    @media screen and (min-width: 1024px) {
        grid-template-columns: 1fr 1fr;
    }

    @media screen and (min-width: 1280px) {
        gap: calc(var(--spacing-xxlarge) * 5);
        grid-template-columns: 1fr 1fr;
    }
}

.erc721HeroGrid {
    padding-bottom: calc(var(--spacing-xxlarge) * 4);
}

.erc721Footer {
    --base-negative-margin: calc(var(--spacing-xxlarge) * -1);
    margin-top: calc(var(--base-negative-margin) * 2);
}

.main {
    align-items: center;
    display: flex;
    flex-grow: 1;
    margin-top: -150px;
    margin-bottom: var(--spacing-xxlarge);
}