.wrapper {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.heading {
    color: rgb(var(--color-white));
    margin-top: var(--spacing-xxsmall);
}

.subHeading {
    color: rgb(var(--color-white));
    text-transform: uppercase;
    margin-top: 0;
}

.description {
    color: rgb(var(--color-white));
    line-height: 1.6;
}

.expander {
    appearance: none;
    background-color: transparent;
    border: 0;
    color: rgb(var(--color-white));
    cursor: pointer;
    display: block;
    font-weight: var(--font-weight-bold);
    margin-top: var(--spacing-large);
}
