.modalWrapActive {
    visibility: visible;
}

.modalWrapClose {
    visibility: hidden;
}

.modalWrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(var(--color-black),0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--spacing-regular);
    opacity: 1;
    z-index: 100000;
}

.modalClose {
    position: absolute;
    top: var(--spacing-large);
    right: var(--spacing-regular);
}

.modalHeaderWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--spacing-small);
}

.modal {
    opacity: 0;
    transform: translateY(20px);
    visibility: hidden;
    transition: all .3s ease-in-out;
    background-color: rgb(var(--color-white));
    border-radius: var(--border-radius-regular);
    padding: var(--spacing-large) var(--spacing-xxlarge);
    max-width: 564px;
}

.modalActive {
    opacity: 1;
    transform: translateY(0px);
    visibility: visible;
}

.modalHeader {
    margin: 0;
}

.closeIcon {
    cursor: pointer;
}